@model IEnumerable<LexiconLMS.Models.Course>

	@functions{
		string IsCollapsed(string type, int id)
		{
			if(Request.QueryString.Keys.Count > 0 &&
				Request.QueryString.Keys[0] == type &&
				Request.QueryString[Request.QueryString.Keys[0]] == id.ToString())
			{
				return "in";
			}
			return "out";
		}

		string Description(string courseId = null, string moduleId = null, string activityId = null)
		{
			string desc = "";

			if (courseId != null)
			{
				var course = Model.FirstOrDefault(q => q.Id.ToString() == courseId);
				desc = course.Description;
			}
			if (moduleId != null)
			{
				var module = Model.FirstOrDefault(q => q.Id.ToString() == courseId).Modules.FirstOrDefault(q => q.Id.ToString() == moduleId);
				desc = module.Description;

			}
			if (activityId != null)
			{
				var activity = Model.FirstOrDefault(q => q.Id.ToString() == courseId).Modules.FirstOrDefault(q => q.Id.ToString() == moduleId).Activities.FirstOrDefault(q => q.Id.ToString() == activityId);
				desc = activity.Description;

			}

			return desc;
		}
}

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h3>Course(s)</h3>
			@foreach (var course in Model)
			{

				<h3>
					<a data-toggle="collapse" href="#collapseCourse@(course.Id)">
						@Html.ActionLink(course.Name, "Index", "Courses", new { Course = course.Id }, null)
						@*@Html.DisplayFor(modelItem => course.Name)*@
                    </a>
				</h3>
				<div id="collapseCourse@(course.Id)" class="collapse @IsCollapsed("Course", course.Id)">

					@foreach (var module in Model.FirstOrDefault(c => c.Id == course.Id).Modules)
					{
						<h4>
							<a data-toggle="collapse" href="#collapseModule@(module.Id)">
								@Html.ActionLink(module.Name, "Index", "Courses", new { Course = course.Id, Module = module.Id }, null)
								@*@Html.DisplayFor(modelItem => module.Name)*@
							</a>
						</h4>
						<div id="collapseModule@(module.Id)" class="collapse @IsCollapsed("Module", module.Id)">

							@foreach (var activity in Model.FirstOrDefault(c => c.Id == course.Id).Modules.FirstOrDefault(m => m.Id == module.Id).Activities)
							{
								<h6>
									@Html.ActionLink(module.Name, "Index", "Courses", new { Course = course.Id, Module = module.Id, Activity = activity.Id })
									@*@Html.DisplayFor(modelItem => activity.Name)*@
								</h6>
							}
						</div>
					}
				</div>
			}
		</div>
		<div class="panel, col-lg-8">
			<div class="panel">
				<p>@Description(Request.QueryString["Course"], Request.QueryString["Module"], Request.QueryString["Activity"] )</p>
			</div>
		</div>
	</div>


</div>
	@*<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.StartDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.EndDate)
				</th>
				<th></th>
			</tr>


		@foreach (var item in Model)
	{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndDate)
				</td>
				<td>
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}
		</table>*@




