@model IEnumerable<LexiconLMS.Models.Course>

@functions{
	string IsCollapsed(string type, int id)
	{
		string collapsed = "out";
		if (Request.QueryString.Keys.Count > 0)
		{
			var courseId = Request.QueryString["Course"];
			var moduleId = Request.QueryString["Module"];
			var activityId = Request.QueryString["Activity"];

			if ((type == "Course" && courseId == id.ToString()) ||
				(type == "Module" && moduleId == id.ToString()) ||
				(type == "Activity" && activityId == id.ToString()))
			{
				collapsed = "in";
			}
		}
		return collapsed;
	}
}

<div class="container">
	<div class="row">
		<div class="leftColumn, col-lg-2">
            <div class="courseBlock">
                @foreach (var course in Model)
                {
                    <h3>
                        <a data-toggle="collapse" href="#collapseCourse@(course.Id)">
                            @Html.ActionLink(course.Name, "Index", "Courses", new { Course = course.Id }, null)
                        </a>
                    </h3>
                    <div id="collapseCourse@(course.Id)" class="collapse @IsCollapsed("Course", course.Id)">
                        @foreach (var module in Model.FirstOrDefault(c => c.Id == course.Id).Modules)
                        {
                            <h4>
                                <a data-toggle="collapse" href="#collapseModule@(module.Id)">
                                    @Html.ActionLink(module.Name, "Index", "Courses", new { Course = course.Id, Module = module.Id }, null)
                                </a>
                            </h4>
                            <div id="collapseModule@(module.Id)" class="collapse @IsCollapsed("Module", module.Id)">
                                @foreach (var activity in Model.FirstOrDefault(c => c.Id == course.Id).Modules.FirstOrDefault(m => m.Id == module.Id).Activities)
                                {
                                    <h5>
                                        @Html.ActionLink(activity.Name, "Index", "Courses", new { Course = course.Id, Module = module.Id, Activity = activity.Id }, null)
                                    </h5>
                                }
								@if (User.IsInRole("Teacher"))
								{
									<h5>@Html.ActionLink("Add Activity", "Create", "Activities", new { Course = course.Id, Module = module.Id }, null)</h5>
								}
                            </div>
                        }
						@if (User.IsInRole("Teacher"))
						{
							<h4>@Html.ActionLink("Add Module", "Create", "Modules", new { Course = course.Id }, null)</h4>
						}
                    </div>
                }
				@if (User.IsInRole("Teacher"))
				{
					<h3>@Html.ActionLink("Add Course", "Create", "Courses")</h3>
				}
			</div>
		</div>
		<div class="panel, col-lg-8">
			@Html.Action("_Information")
		</div>
        <div class="panel, col-lg-2"></div>
	</div>
</div>